node_modules
.next
dist
build
.turbo
.DS_Store

.env
.env.*.local

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode

project_context.md
structure.txt

*.tsbuildinfo

# Ignore compiled output in the shared package
packages/shared/**/*.js
packages/shared/**/*.js.map
packages/shared/**/*.d.ts
